.booking-widget-section-wrapper {
  background: #f3f3f3;
  // padding: 70px 0;
  .booking-widget-wrapper {
    position: relative;
    z-index: 10;

    .booking-window-overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 50;
      background: rgba(128, 128, 128, 0.829)
        url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient x1='8.042%25' y1='0%25' x2='65.682%25' y2='23.865%25' id='a'%3E%3Cstop stop-color='%23fff' stop-opacity='0' offset='0%25'/%3E%3Cstop stop-color='%23fff' stop-opacity='.631' offset='63.146%25'/%3E%3Cstop stop-color='%23fff' offset='100%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg transform='translate(1 1)' fill='none' fill-rule='evenodd'%3E%3Cpath d='M36 18c0-9.94-8.06-18-18-18' stroke='url(%23a)' stroke-width='2'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 18 18' to='360 18 18' dur='0.9s' repeatCount='indefinite'/%3E%3C/path%3E%3Ccircle fill='%23fff' cx='36' cy='18' r='1'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 18 18' to='360 18 18' dur='0.9s' repeatCount='indefinite'/%3E%3C/circle%3E%3C/g%3E%3C/svg%3E")
        no-repeat center center;
    }
    .booking-steps-wrapper {
      background: #dddddd;
      min-height: 164px;
      padding: 34px 0;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        bottom: -17px;
        left: 0;
        right: 0;
        margin: auto;
        border-style: solid;
        border-width: 17px 18px 0 18px;
        border-color: #dddddd transparent transparent transparent;
      }
      .booking-step-wrapper {
        background: #ffffff;
        min-height: 95px;
        position: relative;
        padding: 19px;
        text-align: center;
        transition: all ease 0.25;

        cursor: pointer;
        .icon,
        .text {
          display: inline-block;
          text-align: left;
          overflow: hidden;
        }
        .icon {
          // position: relative;
          // top: 0;
          // bottom: 0;
          // left: 0;
          width: 50px;
          height: 50px;
          margin-right: 10px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: auto;
        }

        .text {
          color: #9e9e9e;
          line-height: 1.2;
          font-family: "Campton Light", sans-serif;
          .big {
            font-family: "Campton Bold", sans-serif;
            text-transform: uppercase;
            font-size: 20px;
          }
          .small {
            color: #6d6d6d;
          }
        }

        &.active,
        &:hover {
          background: #737373;
          .text {
            font-family: "Campton Bold", sans-serif;
            .big {
              font-size: 20px;
              color: #fff;
            }
            .small {
              color: #fff;
            }
          }
          .icon {
            opacity: 0.75;
          }
        }
        &.date-time-step {
          .icon {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='41' height='41'%3E%3Cpath fill-rule='evenodd' fill='%23e1e1e1' d='M5.125 6.406V1.281a1.28 1.28 0 1 1 2.562 0v5.125a1.28 1.28 0 1 1-2.562 0zm21.781 1.281a1.28 1.28 0 0 0 1.281-1.281V1.281a1.28 1.28 0 1 0-2.562 0v5.125a1.28 1.28 0 0 0 1.281 1.281zM41 30.75C41 36.41 36.411 41 30.75 41S20.5 36.41 20.5 30.75c0-5.661 4.589-10.25 10.25-10.25S41 25.089 41 30.75zm-2.563 0c0-4.239-3.448-7.688-7.687-7.688-4.239 0-7.688 3.449-7.688 7.688s3.449 7.687 7.688 7.687 7.687-3.448 7.687-7.687zM10.25 15.375H5.125V20.5h5.125v-5.125zM5.125 28.187h5.125v-5.125H5.125v5.125zm7.687-7.687h5.125v-5.125h-5.125V20.5zm0 7.687h5.125v-5.125h-5.125v5.125zm-10.25 2.307V12.812H30.75v5.125h2.562V7.943c0-1.557-1.241-2.818-2.775-2.818h-1.068v1.281a2.565 2.565 0 0 1-2.563 2.562 2.565 2.565 0 0 1-2.562-2.562V5.125H8.969v1.281a2.565 2.565 0 0 1-2.563 2.562 2.565 2.565 0 0 1-2.562-2.562V5.125H2.776C1.242 5.125 0 6.386 0 7.943v22.551c0 1.552 1.242 2.818 2.776 2.818h15.161V30.75H2.776c-.116 0-.214-.12-.214-.256zM25.625 20.5v-5.125H20.5V20.5h5.125zm8.969 10.25H30.75v-3.844a1.28 1.28 0 1 0-2.563 0v5.125a1.28 1.28 0 0 0 1.282 1.281h5.125a1.28 1.28 0 1 0 0-2.562z'/%3E%3C/svg%3E");
          }
        }
        &.details-step {
          .icon {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='39' height='39'%3E%3Cpath fill-rule='evenodd' fill='%23e1e1e1' d='M38.238 39H15.244a3.837 3.837 0 0 1-2.523-.946l-.906-.789A2.288 2.288 0 0 1 9.598 39H2.285A2.288 2.288 0 0 1 0 36.715V24.299a2.288 2.288 0 0 1 2.285-2.285h7.313c.782 0 1.474.396 1.886.997l3.237-3.237-3.742-13.966a.76.76 0 0 1 .539-.932l7.22-1.935V.763c0-.421.341-.762.762-.762L38.238 0A.762.762 0 0 1 39 .761v37.477a.762.762 0 0 1-.762.762zM10.359 24.299a.762.762 0 0 0-.761-.762H6.703v8.775a.762.762 0 1 1-1.523 0v-8.775H2.285a.763.763 0 0 0-.762.762v12.416c0 .42.342.762.762.762h7.312a.762.762 0 0 0 .762-.762V24.299zm8.379-19.781l-6.09 1.632 3.577 13.352a.75.75 0 0 1 .128.267l.788 3.082h1.529L15.7 11.856a.763.763 0 0 1 .539-.934 2.054 2.054 0 0 0 1.45-2.512.763.763 0 0 1 .539-.933l.51-.136V4.518zm0 6.316a3.573 3.573 0 0 1-1.389 1.283l1.389 5.144v-6.427zm-2.189 13.54a.763.763 0 0 1-.738-.573l-.603-2.36-3.325 3.326v10.535l1.839 1.604c.422.368.962.57 1.522.57h14.438a1.067 1.067 0 0 0 0-2.132h-5.83a.762.762 0 1 1 0-1.524h8.428a1.067 1.067 0 0 0 0-2.132h-8.428a.762.762 0 1 1 0-1.524H33.91a1.067 1.067 0 0 0 0-2.133H23.852a.762.762 0 1 1 0-1.523h7.673a1.067 1.067 0 0 0 0-2.133l-14.976-.001zM37.476 1.523l-17.214.001v21.328h1.488V7.688c0-.42.341-.762.761-.762 1.131 0 2.051-.92 2.051-2.05 0-.421.341-.762.762-.762h7.09c.42 0 .762.341.762.762 0 1.13.92 2.05 2.05 2.05.421 0 .762.342.762.762v3.049a.762.762 0 0 1-1.523 0V8.368a3.584 3.584 0 0 1-2.731-2.731h-5.73a3.585 3.585 0 0 1-2.731 2.731v14.484h4.164a3.652 3.652 0 0 1-2.214-3.352 3.65 3.65 0 0 1 3.646-3.646 3.65 3.65 0 0 1 3.645 3.646 3.651 3.651 0 0 1-2.213 3.352h1.224a2.592 2.592 0 0 1 2.36 3.656h.025c.19 0 .376.021.555.06v-8.667a.762.762 0 1 1 1.523 0v9.654c.321.431.511.965.511 1.543 0 1.19-.808 2.195-1.904 2.497.175.349.275.742.275 1.159a2.593 2.593 0 0 1-2.59 2.59h-.239a2.581 2.581 0 0 1 0 2.132h5.435V1.523zm-8.607 20.099c1.17 0 2.122-.952 2.122-2.122s-.952-2.122-2.122-2.122-2.122.952-2.122 2.122.952 2.122 2.122 2.122zm6.357-6.387a.768.768 0 0 1-.538-.223.764.764 0 0 1 .538-1.301.767.767 0 0 1 .763.762.77.77 0 0 1-.224.539.77.77 0 0 1-.539.223zM5.941 35.953a.767.767 0 0 1-.762-.762.767.767 0 0 1 .762-.762.767.767 0 0 1 .762.762.77.77 0 0 1-.223.539.77.77 0 0 1-.539.223z'/%3E%3C/svg%3E");
          }
        }
        &.payment-step {
          .icon {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='34'%3E%3Cpath fill-rule='evenodd' fill='%23E1E1E1' d='M9.788 15.669l4.746 9.166S22.246 6.209 34.407 0c-.297 4.435-1.483 8.278.593 13.009C29.661 14.191 18.686 27.495 15.127 34 10.085 27.791 4.153 23.061 0 21.582l9.788-5.913z'/%3E%3C/svg%3E");
          }
        }
        // .cart-time-step{}
      }
    }
  }
}
.booking-window-section-wrapper {
  padding: 35px 0 30px;

  p {
    color: #8d8d8d;
  }
  button,
  a.custom-btn {
    border: 0;
    outline: 0;
    display: inline-block;
    min-height: 34px;
    //
    padding: 8px 10px;
    margin-left: 5px;
    transition: all ease 0.25s;
    margin-bottom: 10px;
    &:hover {
      opacity: 0.75;
    }
  }
  .btn {
    min-height: auto;
  }
  .bg-green {
    background-color: rgb(52, 129, 0) !important;
    color: #fff;
  }
  .calendar {
    background-color: rgb(115, 115, 115);
    color: #fff;
  }
  .next-week {
    background-color: rgb(180, 180, 180);
    color: #fff;
  }
  .booking-window-wrapper {
    background: #fff;
    padding: 22px;

    .weekly-calendar-wrapper-outter {
      @include media-breakpoint-down(lg) {
        overflow-x: scroll;
      }
    }
    .weekly-calendar-wrapper {
      text-align: center;
      padding-top: 10px;
      overflow: auto;
      @include media-breakpoint-down(lg) {
        min-width: 875px;
      }
      .daily-wrapper {
        width: calc(100% / 7);
        display: inline-block;
        text-align: center;
        float: left;
        @include media-breakpoint-down(lg) {
          min-width: 125px;
        }
        .day-label {
          background-color: rgb(243, 243, 243);
          height: 34px;
          padding: 5px 0;
          margin-bottom: 10px;
        }
        &:nth-child(even) .time-slots-wrapper {
          background: #fcfcfc;
        }
        .time-slots-wrapper {
          background: #f9f9f9;

          .time-slot-wrapper {
            color: #7c7c7c;
            min-height: 44px;
            padding: 10px 0;
            border-bottom: 1px solid #e2e2e2;
            cursor: pointer;
            transition: all ease 0.25s;
            &:hover {
              font-weight: bold;
              color: #348100;
            }
            &.reserved {
              text-decoration: line-through;
              font-weight: bold;
              color: #348100;
            }
            &.added-to-cart {
              font-weight: bold;
              color: #348100;
              position: relative;
              &:after {
                content: "\f00d";
                color: #ce0909;
                position: absolute;
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                right: 10px;
                width: 20px;
                height: 20px;
                line-height: 20px;
                top: 0;
                bottom: 0;
                margin: auto;
              }
            }
          }
        }
      }
    }

    .reserved-color {
      background-color: rgb(92, 149, 65);
      width: 16px;
      height: 16px;
      margin-right: 5px;
      display: inline-block;
      overflow: hidden;
    }
  }
}
.details-window-section-wrapper {
  padding: 35px 0 30px;
  button,
  a.custom-btn {
    border: 0;
    outline: 0;
    display: inline-block;
    min-height: 34px;
    background-color: rgb(180, 180, 180);
    color: #fff;
    padding: 8px 10px;
    margin-left: 5px;
    transition: all ease 0.25s;
    margin-bottom: 10px;
    &:hover {
      opacity: 0.75;
    }
  }
  .bg-green {
    background-color: rgb(52, 129, 0) !important;
  }
}

.message-bubble-wrapper {
  position: fixed;
  width: 275px;
  right: 10px;
  top: 50vh;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  z-index: 40;
  background-image: linear-gradient(
    0deg,
    rgba(246, 243, 217, 0.25) 0%,
    white 100%
  );
  color: #a9a071;
  box-shadow: 0 15px 22px -24px rgba(0, 0, 0, 0.35),
    0 -10px 22px -24px rgba(0, 0, 0, 0.35);
  transform: translate(1000px, 1000px) skew(80deg, 10deg);
  transform-origin: 0% 100%;
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  filter: blur(40px);
  opacity: 0;
  /* animation: slide-out-blurred-br 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) backwards; */
  transition: all 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  &.active {
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
    transform: translate(0, 0) skew(0deg, 0deg);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
  header {
    font-size: 14px;
    font-weight: 700;
    z-index: 700;
  }
}

.sub-rooms-section-wrapper {
  position: fixed;
  z-index: 60;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  max-width: 600px;
  margin: auto;

  @include media-breakpoint-up(md) {
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
  }
  @include media-breakpoint-down(md) {
    left: 10px;
    right: 10px;
    top: 50px;
    bottom: 50px;
  }

  .sub-rooms-section-wrapper-inner {
    min-height: 300px;
    background-color: white;
    background-image: linear-gradient(
      0deg,
      rgba(246, 243, 217, 1) 0%,
      white 100%
    );
    box-shadow: 0 15px 22px -24px rgba(0, 0, 0, 0.35),
      0 -10px 22px -24px rgba(0, 0, 0, 0.35);
    position: relative;
    border-radius: 4px;
    padding: 15px;
    .heading {
      color: #a9a071;
    }
    .btn-close {
      position: absolute;
      top: 5px;
      right: 5px;
    }
    .booking-window-section-wrapper {
      padding: 0;
      background: #fff;
      padding: 5px;
      border-radius: 4px;
      .booking-window-wrapper {
        padding: 0;
        .weekly-calendar-wrapper-outter {
          overflow: hidden;
          overflow: scroll;
          height: auto;
          max-height: 100%;
          max-height: 62vh;
          .weekly-calendar-wrapper {
            min-width: 900px;
          }
        }
      }
    }
  }
}
