/* gallery-section-wrapper section */
.gallery-section-wrapper {
	background: rgb(246, 246, 246);
	position: relative;
	z-index: 6;

	.view-more-btn {
		position: absolute;
		font-size: 20px;
		color: rgb(113, 113, 113);
		line-height: 1.2;
		background: rgb(238, 238, 238);
		height: 68px;
		padding: 12px 0;
		max-width: 372px;
		text-align: center;
		left: 0;
		right: 0;
		bottom: -34px;
		z-index: 5;
		margin: auto;
		width: 100%;
		border: 0;
		outline: 0;
		transition: all 0.2s ease;

		&:hover {
			box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
		}
		&:active {
			box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
		}
	}
	.gallery-wrapper {
		.img-wrapper {
			padding-top: 30%;
			.img-bg {
				background-color: gray !important;
				background-position: center !important;
				background-size: cover !important;
			}
		}
	}
}

/* /gallery-section-wrapper section */

/* contact-section-wrapper section */
.contact-section-wrapper {
	background: #fff;
	min-height: 330px;
	padding-top: 105px;
	padding-bottom: 20px;
	.items-list-wrapper {
		text-align: center;
		.list-item {
			position: relative;
			color: #9f9f9f;
			padding-bottom: 50px;

			@extend a:hover;
			&:after {
				content: '';
				background-color: rgb(231, 231, 231);
				position: absolute;
				width: 1px;
				max-height: 157px;
				top: 0;
				bottom: 0;
				right: 0;
				@include media-breakpoint-down(md) {
					top: auto;
					height: 1px;
					width: 100%;
					left: 0;
					bottom: 25px;
				}
			}
			&:last-child:after {
				content: none;
			}
			.icon {
				position: relative;
				width: 66px;
				height: 66px;
				/* left: -3px; */
				/* left: 0px; */
				/* bottom: -10px; */
				z-index: 6;
				color: #fff;
				text-align: center;
				font-size: 30px;
				line-height: 66px;
				margin: 10px auto 32px;
				.fa {
					position: relative;
					z-index: 8;
				}
				&:before {
					content: '';
					position: absolute;
					background: rgb(231, 231, 231);
					width: 66px;
					height: 66px;
					left: 0;
					right: 0;
					margin: auto;
					transform: rotate(-45deg);

					z-index: -1;
				}
				&:after {
					content: '';
					position: absolute;
					width: 58px;
					height: 58px;
					border: 1px solid rgb(255, 255, 255);
					width: 58px;
					height: 58px;
					left: 0;
					right: 0;
					top: 4px;
					margin: auto;

					transform: rotate(-45deg);

					z-index: -1;
				}
			}

			&:nth-child(even) {
				& .icon {
					color: #fff;
				}
				&:before {
					background: #b6b6b6;
				}
			}
		}
	}
	.contact-form-wrapper {
		padding-top: 64px;
		form {
			::placeholder {
				color: #979797;
			}
			input,
			textarea {
				background: #fff;
				padding-left: 26px;
			}
		}
	}
}
/* /contact-section-wrapper section */

/* footer section */
.footer-section-wrapper {
	.footer-map-wrapper {
		padding-bottom: 30.8%;
	}
	.footer-rights {
		background-color: rgb(238, 238, 238);
		min-height: 77px;
		padding: 28px 0;
		a {
			color: #9f9f9f;
			font-size: 16px;
			&:hover {
				@extend a:hover;
			}
		}
	}
}

/* /footer section */
