/* custom form */
.custom-form-wrapper {
  ::placeholder {
    color: #9f9f9f;
  }
  input,
  textarea {
    background: #f5f5f5;
    height: 48px;
    line-height: 48px;
    border-radius: 0;
    border: 0;
    transition: all 0.2s ease;
  }
  textarea {
    line-height: 16px;
    min-height: 129px;
  }
  button {
    position: relative;
    border: 0;
    border-radius: 0;
    min-width: 139px;
    height: 44px;
    font-size: 15px;
    transition: all 0.2s ease;

    color: rgb(255, 255, 255);
    background: #000769;
    &:hover {
      color: rgb(255, 255, 255);
    }
    &:hover:after {
      transform: scaleX(-1);
      animation: btn-hover-anime 0.25s ease 0.25s infinite forwards alternate;
    }
    &:before,
    &:after {
      content: "";
      display: inline-block;
      // content: '\f105';
      // font: normal normal normal 14px/1 FontAwesome;
      // text-rendering: auto;
      // -webkit-font-smoothing: antialiased;
      // -moz-osx-font-smoothing: grayscale;
      background: #e20707;
      transition: all ease 0.25s;
      width: 28px;
      height: 44px;
      line-height: 44px;
      font-size: 35px;
      position: absolute;
      top: 0;
      right: -28px;
    }
    &:after {
      background: transparent;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='9px' height='21px'%3e%3cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M-0.004,20.996 L7.034,10.500 L-0.004,0.003 L1.966,0.003 L9.004,10.500 L1.966,20.996 L-0.004,20.996 Z'/%3e%3c/svg%3e");
    }
    @keyframes btn-hover-anime {
      from {
        transform: scaleX(-1) translateX(0px);
      }
      to {
        transform: scaleX(-1) translateX(-2px);
      }
    }
  }
}
/* /custom form */
