@include vm-sp(10);
@include vm-sp(20);
@include vm-sp(25);
@include vm-sp(30);
@include vm-sp(40);
@include vm-sp(50);
@include vm-sp(55);
@include vm-sp(65);
@include vm-sp(60);
@include vm-sp(70);
@include vm-sp(75);
@include vm-sp(85);
@include vm-sp(80);
@include vm-sp(90);
@include vm-sp(95);
@include vm-sp(100);

$color-green: #e7e7e7;
$color-darkwhite: #f6f6f6;
// $color-green: #eeeeee;
// $color-green: #ffffff;
$color-dark: #717171;
$color-light-dark: #9f9f9f;
$color-lightgray: #acacac;

@font-face {
  font-family: "Campton Bold";
  font-display: swap;
  src: url(../fonts/campton-bold-demo/campton-bold-demo.otf);
}

@font-face {
  font-family: "Campton Light";
  font-display: swap;
  src: url(../fonts/campton-light-demo/campton-light-demo.otf);
}

@font-face {
  font-family: "Rage Italic";
  font-display: swap;
  src: url(../fonts/rage-italic/rage-italic.ttf);
}

// font-family: 'Montserrat', sans-serif;
// font-family: 'Great Vibes', cursive;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: $color-dark;
  font-size: 15px;
  background: #f0f0f0;
  // display: none;
}

a {
  transition: all 0.2s ease;
  text-decoration: none !important;
  color: $color-lightgray;
  &:hover,
  &:active {
    color: $color-dark;
  }

  &.read-more {
    background: #f8f8f8;
    color: #9f9f9f;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border: 1px solid #e3e3e3;
    max-width: 111px;
    width: 100%;
    height: 36px;
    line-height: 36px;
    transition: all ease 0.25s;

    &:hover,
    &:active {
      background: #e3e3e3;
    }
  }
}

.text-muted {
  color: $color-light-dark;
}

@mixin heading-common {
  font-family: "Campton Light", sans-serif;
  color: $color-dark;
  text-align: center;
  margin-bottom: 0;

  strong {
    font-family: "Campton Bold", sans-serif;
    font-weight: normal;
  }
}

h1,
.h1 {
  @include heading-common;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 2px;
}

h2,
.h2 {
  @include heading-common;

  font-size: 40px;
  line-height: 1.2;
}

.h2-hr {
  // background: -webkit-linear-gradient(0deg, #cfd4d8 0%, #cfd4d8 100%);
  width: 100px;
  background-color: #cfd4d8;
  margin-top: 25px;
  margin-bottom: 25px;
  opacity: 1;
}

h3,
.h3 {
  @include heading-common;
  font-size: 26px;
  line-height: 40px;
}

h4,
.h4 {
  @include heading-common;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #9f9f9f;
}

.h4-hr {
  background-color: rgb(179, 179, 179);
  max-width: 96px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0;
}

h5,
.h5 {
  @include heading-common;
  font-size: 16px;
  line-height: 26px;
}

h6,
.h6 {
  @include heading-common;
  font-family: "Montserrat";
  font-size: 15px;
  color: #717171;
  line-height: 1.667;
}

/* img common section */
.img-wrapper {
  position: relative;
  padding-top: 72.5%;
  overflow: hidden;
  .img-bg {
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat !important;
    transition: all ease 1s;
    transform-origin: bottom left;

    &.img-bg-anime-zoom {
    }
  }

  img {
    display: none;
  }
}
/* /img common section */

/* custom form */
.custom-form-wrapper {
  ::placeholder {
    color: #acacac;
  }
  input,
  textarea {
    background: #f9f9f9;
    height: 48px;
    line-height: 48px;
    border-radius: 0;
    border: 0;
    color: $color-dark;
  }
  textarea {
    line-height: 16px;
    min-height: 129px;
  }
  button {
    position: relative;
    border: 0;
    border-radius: 0;
    color: #ffffff;
    line-height: 1.8;
    text-transform: uppercase;
    background: rgb(130, 130, 130);
    height: 48px;
    min-width: 117px;
  }
}
/* /custom form */

ul.no-style-list,
.no-style-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg) translate(-50%, 0);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg) translate(-50%, 0);
    transform-origin: top;
    opacity: 1;
  }
}
.no-bg-img {
  background-image: none !important;
}
