/* header */
header.site-header {
  .desktop-header-wrapper {
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  .mobile-header-wrapper {
    display: none;
    @include media-breakpoint-down(lg) {
      display: block;
    }
  }
  .logo-wrapper {
    margin: 43px 0;
    @include media-breakpoint-down(md) {
      margin: 40px 0 0;
    }
  }
  .top-header-row {
    background: #f3f3f3;
    min-height: 50px;
    .top-menu-nav-list {
      padding: 17px 0 0;
    }
  }
  .bucket-menu {
    background: #f5f7f6;
    min-height: 45px;
    position: relative;
    z-index: 10;
    &.sticky {
      position: fixed !important;
      top: 0;
      left: 0;
      right: 0;
    }
    .top-menu-nav-list {
      li {
        margin-right: 5px;
        padding: 12px 7px;
        font-size: 15px;
        color: #000;
        font-weight: 600;
        transition: all 0.2s ease;
      }
      & > li:last-child {
        background: rgba(0, 0, 0, 1);
        padding-left: 20px;
        padding-right: 20px;
        color: #fff;
        &:hover {
          background: rgba(0, 0, 0, 0.75);
        }
        a {
          color: inherit;
        }
      }
    }
  }
  .top-header-row,
  .bucket-menu {
    @include media-breakpoint-down(md) {
      display: none;
    }
    .top-menu-nav-list {
      // padding: 17px 0 0;
      margin: 0;
      list-style: none;
      display: inline-block;
      li {
        display: inline-block;
        margin-right: 10px;
        position: relative;
        z-index: 6;
        &:last-child {
          margin-right: 0px;
        }

        &:hover > ul {
          display: block;
          animation: swing-in-top-fwd 0.5s
            cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
        }

        ul {
          position: absolute;
          left: 0;
          top: 100%;
          min-width: 200px;
          z-index: 5;
          padding: 0;
          display: none;
          border: 0;
          background: #f9f9f9;
          padding: 10px;
          // box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
          box-shadow: none;
          border-radius: 0;
          top: 125% !important;
          background-image: -webkit-linear-gradient(
            90deg,
            rgba(246, 243, 217, 0.5) 0%,
            rgb(255, 255, 255) 100%
          );
          filter: drop-shadow(0 -2px 6px rgba(0, 0, 0, 0.1));
          &:before {
            content: "";
            position: absolute;
            top: -10px;
            left: 0;
            right: 0;
            margin: auto;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent #f9f9f9 transparent;
          }

          right: auto !important;
          left: 50% !important;
          -webkit-transform: translate(-50%, 0) !important;
          -o-transform: translate(-50%, 0) !important;
          transform: translate(-50%, 0) !important;

          li {
            /*  text-align: left;
            display: block;
            background: rgba(0, 0, 0, 1);
            color: #fff;
            margin: 0;
            &:hover {
              // background: rgba(0, 0, 0, 0.75);
              opacity: 0.75;
            } */

            padding: 3px 24px;
            display: block;
            font-size: 16px;
            margin: 0;
            color: #212529;

            &:hover,
            &.active,
            &:active {
              color: #a9a071;
              background: transparent;
            }
          }
        }

        &.current_page_item a,
        &:hover a {
          @extend a:hover;
        }
      }
    }
    .cta-btns-wrapper {
      .cta-btn {
        display: inline-block;
        position: relative;
        background: #ededed;
        /* height: 50px; */
        min-width: 136px;
        text-align: center;
        border-right: 1px solid #dddddd;
        color: #a0a0a0;
        line-height: 1.2;
        overflow: hidden;
        padding: 16px 5px;
        padding-left: 28px;
        margin-right: -4px;
        margin-bottom: -5px;
        &:hover {
          opacity: 0.5;
        }

        &:before {
          content: "";
          position: relative;
          display: inline-block;
          width: 22px;
          height: 22px;
          margin: auto;
          margin-right: 10px;
          margin-top: -14px;
          top: 5px;
          margin-left: -22px;
        }
        &:last-child {
          border: 0;
          margin-right: 0;
        }
      }
      .cta-btn-calendar {
        &:before {
          background: url(../images/cal-ico.png) no-repeat;
          background-position: center;
          background-size: auto;
        }
      }
      .cta-btn-help-desk {
        &:before {
          background: url(../images/dark-help-desk-ico.png) no-repeat;
          background-position: center;
          background-size: auto;
        }
      }
      .cta-btn-cart {
        min-width: auto;
        padding-right: 6px;
        &:before {
          content: "\f07a";
          box-sizing: border-box;
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: 1.5em;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          position: relative;
          width: 22px;
          height: 22px;
          margin: auto;
          margin-right: 10px;
          margin-top: -14px;
          top: 5px;
          margin-left: -22px;
          overflow: hidden;
        }
      }
    }
  }
  .bottom-header-row {
    background: #fff;
    min-height: 157px;
    @include media-breakpoint-down(md) {
      padding-bottom: 20px;
    }
    .header-cta-wrapper {
      text-align: right;
      .cta-contact-wrapper {
        display: inline-block;
        overflow: hidden;

        position: relative;
        padding-right: 55px;
        margin-top: 55px;
        @include media-breakpoint-down(md) {
          margin-top: 30px;
          transform: translateX(27.5px);
        }

        &:after {
          content: "";
          position: absolute;
          display: inline-block;
          width: 40px;
          height: 45px;
          right: 0;
          top: 0;
          bottom: 0;
          background: url(../images/help-desk-ico.png) no-repeat;
          background-position: center;
          background-size: auto;
        }
        .phone,
        .email {
          display: block;
          color: #9f9f9f;
          &:hover {
            opacity: 0.5;
          }
        }
        .phone {
          font-size: 26px;
          font-weight: bold;
          line-height: 1.2;
        }
        .email {
          font-size: 16px;
          line-height: 16px;
          letter-spacing: 0.5px;
        }
      }
      .book-now-dropdown {
        display: inline-block;
        margin-left: 60px;
        margin-top: 43px;
        float: right;
        text-align: right;
        @include media-breakpoint-down(md) {
          margin-top: 30px;
          transform: translate(0px, -15px);
          float: none;
        }
        @include media-breakpoint-down(sm) {
          margin: auto;
          margin-top: 30px;
          display: block;
          text-align: center;

          transform: none;
        }
      }
    }
  }
}

.book-now-dropdown {
  .dropdown-menu {
    border: 0;
    background: #f9f9f9;
    // box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    box-shadow: none;
    border-radius: 0;
    top: 125% !important;
    background-image: -webkit-linear-gradient(
      90deg,
      rgba(246, 243, 217, 0.5) 0%,
      rgb(255, 255, 255) 100%
    );
    filter: drop-shadow(0 -2px 6px rgba(0, 0, 0, 0.1));
    &:before {
      content: "";
      position: absolute;
      top: -10px;
      left: 0;
      right: 0;
      margin: auto;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent #f9f9f9 transparent;
    }
  }
  .dropdown-menu-center {
    right: auto !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, 0) !important;
    -o-transform: translate(-50%, 0) !important;
    transform: translate(-50%, 0) !important;
    .dropdown-item:hover,
    .dropdown-item.active,
    .dropdown-item:active {
      color: #a9a071;
      background: transparent;
    }
  }
}

.cta-book-now-btn {
  display: inline-block;
  overflow: hidden;
  font-size: 30px;
  position: relative;
  z-index: 1;
  min-width: 244px;
  min-height: 68px;
  margin: auto;
  transition: all ease 0.25s;
  text-transform: uppercase;
  outline: none !important;

  &:hover,
  &:active,
  &[aria-expanded="true"] {
    box-shadow: 0px 15px 22px -24px rgba(0, 0, 0, 0.35),
      0px -10px 22px -24px rgba(0, 0, 0, 0.35);
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: 3;
    line-height: 68px;
  }
  &:before {
    content: "book";
    text-align: right;
    // padding-right: 24px;
    padding-right: 16px;
    color: #9f9f9f;

    left: 0;
    background-image: -webkit-linear-gradient(
      -177deg,
      rgb(248, 248, 248) 0%,
      rgb(255, 255, 255) 100%
    );
  }
  &:after {
    content: "now";
    text-align: left;
    padding-left: 24px;
    right: 0;
    background-image: -webkit-linear-gradient(
      0deg,
      rgb(246, 243, 217) 0%,
      rgb(255, 255, 255) 100%
    );
    color: #a9a071;
  }
}

/* mobile */
.mobile-menu-wrapper {
  max-width: 100%;
  display: none;

  @include media-breakpoint-down(md) {
    display: block;
  }

  a {
    color: #fff;
  }

  ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
    margin: 0;

    // transition: all 0.15s ease-out;

    li {
    }
  }

  ul.nav-list {
    display: block;
    background: #000;
    display: none;

    ul {
      // max-height: 0;
      background: gray;

      ul {
        background: lightgray;
      }
    }

    li {
      position: relative;
      line-height: 40px;
      display: block;
      border-bottom: 1px solid #fff;
      text-align: center;

      a.active,
      a:hover,
      a[aria-current="page"] {
        color: #a3a3a3;
      }

      a:not(:only-child) {
        position: relative;
        display: block;
        padding: 5px;

        &:after {
          content: "\f078";
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          font-size: 12px;
          top: 0;
          bottom: 0;
          height: 40px;
          margin: auto;
          padding: 0px 10px;
          line-height: inherit;
          position: absolute;
          transition: all ease 0.25s;
          transform-origin: center;
        }
      }

      a ~ ul {
        a {
        }
      }

      &:hover > ul {
        // display: block;
        // max-height: 100%;
        // transition: all 0.25s ease-in;
      }

      ul {
        display: none;
      }

      &.active-sub > a:after {
        transform: rotate(180deg);
      }
    }
  }

  .mobile-menu-toggle {
    height: 50px;
    width: 50px;
    background: #000;
    border: 0;
    margin: 10px;
    position: absolute;
    right: 0;
    box-shadow: 0px 0px 2px 2px gray;
    border: 1px solid lightgray;
    cursor: pointer;
    z-index: 20;

    span {
      position: absolute;
      height: 2px;
      width: 90%;
      background: #fff;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      transition: all ease 0.25s;
      transform-origin: center;

      &:nth-child(1) {
        top: 11.5px;
      }

      &:nth-child(2) {
        top: 23px;
      }

      &:nth-child(3) {
        top: 34.5px;
      }
    }

    &.active,

		// &:hover
    {
    }

    &.active span,
		// &:hover>span
    {
      &:nth-child(1) {
        top: 23px;
        transform: rotate(-35deg);
      }

      &:nth-child(2) {
        top: 23px;
        transform: rotate(-35deg);
      }

      &:nth-child(3) {
        top: 23px;
        transform: rotate(35deg);
      }
    }
  }
}

/* /mobile */
