.hero {
	position: relative;
	background: #fff;
	.hero-slider {
		position: relative;
		.hero-apt-form-wrapper {
			position: absolute;
			bottom: 8%;
			left: 7%;
			z-index: 100;
			@include media-breakpoint-down(lg) {
				display: none;
			}
		}

		.carousel-indicators {
			li {
				background-color: $color-dark;
			}
			@include media-breakpoint-down(sm) {
				display: none;
			}
		}
		.carousel-control-prev-icon,
		.carousel-control-next-icon {
			display: inline-block;
			width: 50px;
			height: 50px;
			font-size: 50px;
			color: $color-dark;
			background: none;
		}
		.banner-slide {
			position: relative;

			.carousel-caption.bottom-right-carousel-caption {
				position: absolute;
				text-align: right;
				left: 5%;
				right: 5%;
				bottom: 4.5%;
				@include media-breakpoint-down(sm) {
					background: rgba(255, 255, 255, 0.5);
					// display: none;
				}
				h3 {
					text-align: right;
					@include media-breakpoint-down(lg) {
						font-size: 125%;
					}
					@include media-breakpoint-down(md) {
						font-size: 100%;
					}
					@include media-breakpoint-down(sm) {
						font-size: 90%;
						left: 0;
						right: 0;
						bottom: 15%;
						text-align: center;
					}
				}
				h4 {
					text-align: right;
					@include media-breakpoint-down(lg) {
						font-size: 125%;
					}
					@include media-breakpoint-down(md) {
						font-size: 100%;
					}
					@include media-breakpoint-down(sm) {
						font-size: 65%;
						left: 0;
						right: 0;
						bottom: 15%;
						text-align: center;
					}
				}
			}
		}
		.banner-slide-1 {
		}
	}

	.hero-content {
		text-align: center;
		padding-top: 100px;
		padding-bottom: 80px;

		@include media-breakpoint-down(md) {
			padding-top: 40px;
			padding-bottom: 30px;
		}

		h4 {
			font-size: 18px;

			color: rgb(152, 152, 152);
			line-height: 1.667;
			font-weight: 400;
		}
		p {
			font-size: 15px;
			color: rgb(139, 139, 139);
			line-height: 2.133;
			text-align: center;
			// word-break: break-all;
			// hyphens: manual;
			// -ms-hyphens: manual;
			// -webkit-hyphens: manual;
			margin-top: 20px;
		}
	}
}

/* why-choose-us section */
.why-choose-us-section-wrapper {
	background: #fff;
	.why-choose-us-wrapper {
		.why-choose-us-reason-wrapper {
			position: relative;
			overflow: auto;
			min-height: 140px;
			margin-bottom: 50px;

			// padding: 21px 0;
			@include media-breakpoint-up(md) {
				&:after {
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					background: rgb(228, 228, 228);
					width: 1px;
				}
			}
			@include media-breakpoint-down(sm) {
				&:after {
					content: '';
					position: absolute;
					top: auto;
					bottom: 0;
					left: 0;
					right: 0;
					background: rgb(228, 228, 228);
					height: 1px;
					width: auto;
				}
			}
			@include media-breakpoint-up(md) {
				&:nth-child(3n):after {
					content: none;
				}
			}
			@include media-breakpoint-down(md) {
				&:last-child:after {
					content: none;
				}
			}
			// &:last-child:after {
			// 	content: none;
			// }
			.img-wrapper {
				height: 70px;
				width: 70px;
				padding-top: 0%;
				margin: auto;
				margin-bottom: 20px;
				.img-bg {
					background-size: auto;
					background-position: center;
				}
			}
			.content {
			}

			h4 {
				font-size: 29px;
				color: #5a5a5a;
				line-height: 1.2;
				text-align: left;
				font-weight: 400;
				@include media-breakpoint-down(sm) {
					text-align: center;
				}
			}
			p {
				font-size: 16px;
				color: #989898;
				line-height: 1.875;
			}
		}
	}
}
/* /why-choose-us section */

/* studios-hero-section section */
.studios-hero-section-wrapper {
	background: #f3f3f3;
	.studios-wrapper {
		.studio-wrapper {
			background: #fff;
			padding: 16px;
			position: relative;
			margin-bottom: 20px;
			min-height: 343px;
			&:nth-child(even) {
				.content {
					margin-left: 50px;
					@include media-breakpoint-down(lg) {
						background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.25) 95%, rgba(255, 255, 255, 0.25) 100%);
						margin-left: 0px;
					}
					@include media-breakpoint-down(md) {
						margin: auto 5%;
						max-width: 100%;
						margin-top: 25%;
						background: linear-gradient(0deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 70%, rgba(255, 255, 255, 0.25) 100%);
					}
				}
				.img-wrapper {
					.img-bg {
						background-position: right center;
						transform-origin: right center;
					}
				}
			}

			.content {
				position: relative;
				z-index: 4;
				text-align: left;
				margin-top: 70px;
				margin-left: auto;
				margin-right: 50px;
				max-width: 410px;
				@include media-breakpoint-down(lg) {
					background: linear-gradient(-90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.25) 95%, rgba(255, 255, 255, 0.25) 100%);
					padding: 20px;
					margin-right: 0px;
				}
				@include media-breakpoint-down(md) {
					margin: auto 5%;
					max-width: 100%;
					margin-top: 25%;
					background: linear-gradient(0deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 70%, rgba(255, 255, 255, 0.25) 100%);
				}
				&:hover + .img-wrapper {
					.img-bg {
						transform: scale(1.1);
					}
				}

				h2 {
					text-align: left;
					font-family: 'Great Vibes';
					color: rgb(124, 124, 124);
					font-size: 50px;
					line-height: 1.2;
					.studio-text {
						display: inline-block;
						font-size: 19.246px;
						font-family: 'Montserrat', sans-serif;
						line-height: 1.2;
						color: rgb(175, 175, 175);
					}
				}
				p {
					color: #8b8b8b;
					line-height: 1.6;
				}
				.check-studio-av-btn {
					position: relative;
					display: block;
					max-width: 160px;
					text-align: center;
					color: rgb(147, 147, 147);
					&:hover {
						letter-spacing: 0.9px;
						&:before,
						&:after {
							height: 30px;
							top: -15px;
							bottom: -15px;
						}
					}

					&:before,
					&:after {
						content: '';
						position: absolute;
						height: 25px;
						width: 15px;
						border: 1px solid rgb(198, 197, 196);
						top: 0;
						bottom: 0;
						margin: auto;
						transition: all ease 0.2s;
					}
					&:before {
						left: 0;
						border-right: 0;
					}
					&:after {
						right: 0;
						border-left: 0;
					}
				}
			}
			.img-wrapper {
				position: absolute;
				padding-top: 0;
				border: 1px solid rgb(223, 223, 223);
				background-color: rgb(249, 249, 249);
				top: 16px;
				bottom: 16px;
				left: 16px;
				right: 16px;
				z-index: 2;
				@include media-breakpoint-down(md) {
					bottom: auto;
					padding-top: 50%;
				}
				.img-bg {
					background-position: left center;
					transform-origin: left center;
					transition: all ease 0.75s;
				}
			}
		}
	}
}
/* /studios-hero-section section */
