.invoice-wrapper {
	line-height: 1.5;
	font-family: 'Montserrat', sans-serif;
	.h1,
	h1 {
		font-size: 2rem;
		letter-spacing: 1px;
		line-height: 1.5;
		font-family: 'Montserrat', sans-serif;
	}

	.h2,
	h2 {
		font-size: 1.5em;
		text-align: left;
		letter-spacing: 1px;
		line-height: 1.5;
		font-family: 'Montserrat', sans-serif;
	}
	.h3,
	h3 {
		font-size: 16px;
		text-align: left;
		letter-spacing: 1px;
		line-height: 2.2;
		font-family: 'Montserrat', sans-serif;
	}

	#invoice {
		padding: 30px;
	}

	.invoice {
		position: relative;
		background-color: #fff;
		min-height: 680px;
		padding: 20px;

		header {
			padding: 10px 0;
			margin-bottom: 20px;
			border-bottom: 1px solid #717171;
		}

		.company-details {
			text-align: right;
		}

		.company-details .name {
			margin-top: 0;
			margin-bottom: 0;
		}

		.contacts {
			margin-bottom: 20px;
		}

		.invoice-to {
			text-align: left;
		}

		.invoice-to .to {
			margin-top: 0;
			margin-bottom: 0;
		}

		.invoice-details {
			text-align: right;
		}

		.invoice-details .invoice-id {
			margin-top: 0;
			color: #717171;
		}

		main {
			padding-bottom: 50px;
		}

		main .thanks {
			margin-top: -100px;
			font-size: 2em;
			margin-bottom: 50px;
		}

		main .notices {
			padding-left: 6px;
			border-left: 6px solid #717171;
		}

		main .notices .notice {
			font-size: 15px;
		}

		table {
			width: 100%;
			border-collapse: collapse;
			border-spacing: 0;
			margin-bottom: 20px;
		}
		thead {
			// background: -webkit-linear-gradient(-90deg, rgba(246, 243, 217, 0.5) 0%, white 100%);
			background: #eee;
			th {
				padding: 15px;
			}
			.no {
				width: 50px;
			}
		}

		table td,
		table th {
			padding: 10px;
			// background: #eee;
			border-bottom: 1px solid #fff;
		}
		table td {
			background: #f9f9f9;
			// background: #f6f6f6;
		}

		table th {
			white-space: nowrap;
			font-weight: 400;
			font-size: 16px;
		}

		table td h3 {
			margin: 0;
			font-weight: 400;
			color: #717171;
			font-size: 15px;
		}

		table .qty,
		table .total,
		table .unit {
			text-align: right;
			font-size: 15px;
		}

		table .no {
			color: #fff;
			font-size: 16px;
			background: #828282;
		}

		table .unit {
			// background: #ddd;
			background: #f6f6f6;
		}

		table .total {
			background: rgba(113, 113, 113, 0.75);
			color: #fff;
		}

		table tbody tr:last-child td {
			border: none;
		}

		table tfoot td {
			background: 0 0;
			border-bottom: none;
			white-space: nowrap;
			text-align: right;
			padding: 10px 20px;
			font-size: 15px;
			border-top: 1px solid #aaa;
		}

		table tfoot tr:first-child td {
			border-top: none;
		}

		table tfoot tr:last-child td {
			color: #717171;
			font-size: 20px;
			border-top: 1px solid #717171;
		}

		table tfoot tr td:first-child {
			border: none;
		}

		footer {
			width: 100%;
			text-align: center;
			color: #777;
			border-top: 1px solid #aaa;
			padding: 8px 0;
		}
		@media print {
			font-size: 11px !important;
			overflow: hidden !important;

			footer {
				position: absolute;
				bottom: 10px;
				page-break-after: always;
			}

			> div:last-child {
				page-break-before: always;
			}
		}
	}
}
