/* block sections */

/* content section */
.content-section-wrapper {
  .content-section-header {
    background: #f9f9f9;
    // height: 137px;
    padding: 30px 0;
    h1,
    h2,
    h4 {
      text-align: left;
      @include media-breakpoint-down(md) {
        text-align: center;
      }
    }
    h2 {
      margin-bottom: 10px;
    }
    h1 {
      margin-bottom: 5px;
    }
  }
  .content-wrapper {
    padding-top: 45px;
    padding-bottom: 45px;

    .article-wrapper {
      background: #f8f8f8;
      margin-bottom: 40px;
      .img-wrapper {
        margin-bottom: 20px;
        border: 18px solid #fff;
        padding-top: 45.5%;
      }
      h2 {
        text-align: left;
        font-size: 20px;
        line-height: 1.2;
        margin: 20px 0;
        color: #9f9f9f;
        strong {
          color: #9f9f9f;
        }
      }
      hr {
        background-image: -webkit-linear-gradient(
          0deg,
          rgb(200, 200, 200) 0%,
          rgb(255, 255, 255) 100%
        );
        max-width: 323px;
        margin: 20px 0;
        opacity: 1;
      }
      p {
        color: rgb(139, 139, 139);
        line-height: 2.133;
      }
      .top-wrapper {
        position: relative;

        .article-date {
          position: absolute;
          bottom: 18px;
          background-color: #474747;
          min-width: 169px;
          font-size: 20px;
          font-weight: bold;
          height: 54px;
          left: -7px;
          line-height: 1.2;
          text-align: center;
          color: #ffffff;
          z-index: 1;
          .text {
            height: 54px;
            padding-top: 16px;
            position: relative;
            z-index: 2;
            background-color: #474747;
          }
          &:before,
          &:after {
            content: "";
            position: absolute;
          }
          &:before {
            width: 56px;
            height: 55px;
            top: 14px;
            left: -32px;
            background-image: url("data:image/svg+xml,%3Csvg width='56' height='55' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='none' d='M-1-1h582v402H-1z'/%3E%3Cg%3E%3Cpath d='M0 0h56v55H0l16-28L0 0z' fill='%236C6C6C' fill-rule='evenodd'/%3E%3Cpath d='M32 0h24v55L32 39.766V0z' fill='%23272727' fill-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E");
            z-index: -1;
          }
          &:after {
            width: 0;
            height: 0;
            top: 0;
            bottom: 0;
            right: -26px;
            border-style: solid;
            border-width: 27px 0 27px 26px;
            border-color: transparent transparent transparent #474747;
            z-index: 2;
          }
        }
      }
      .content {
        padding: 0 40px;
        padding-bottom: 20px;
        p {
          color: #8b8b8b;
        }
      }
    }
  }
  .sidebar-wrapper {
    background: #f8f8f8;
    padding-right: 15px;
    padding-left: 15px;
    .sidebar-section-wrapper {
      padding-top: 30px;
    }
    h2 {
      font-size: 25px;
      color: #717171;
      line-height: 1.2;
      position: relative;
      text-align: center;
      display: inline-block;
      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 32px;
        height: 32px;
        top: 0;
        bottom: 0;
        margin: auto;
        background-size: contain;
        background-repeat: no-repeat !important;
      }
      &:before {
        left: -42px;
        background-image: url("data:image/svg+xml,%3Csvg width='39.56' height='41.409' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath d='M0 31.057h29.67V0H0v31.057z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cpath fill='none' d='M-1-1h582v402H-1z'/%3E%3Cg%3E%3Cg transform='matrix(-1.33333 0 0 1.33333 39.56 0)' clip-path='url(%23a)'%3E%3Cpath fill='%23bcbcbc' d='M12.482 0l3.901 4.748s-.829 7.5-16.383 9.684c0 0 12.677-3.608 12.482-14.432m0 31.057l3.901-4.748s-.829-7.5-16.383-9.684c0 0 12.677 3.608 12.482 14.432M29.67 15.528l-6.562-3.136-15.6 3.136 15.6 3.137 6.562-3.137z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }

      &:after {
        right: -42px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='41.409' width='39.56'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath d='M0 31.057h29.67V0H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)' transform='matrix(1.33333 0 0 -1.33333 0 41.409)'%3E%3Cpath d='M12.482 0l3.901 4.748s-.829 7.5-16.383 9.684c0 0 12.677-3.608 12.482-14.432M12.482 31.057l3.901-4.748s-.829-7.5-16.383-9.684c0 0 12.677 3.608 12.482 14.432M29.67 15.528l-6.562-3.136-15.6 3.136 15.6 3.137z' fill='%23bcbcbc'/%3E%3C/g%3E%3C/svg%3E");
      }
    }
    hr {
      background-color: rgb(215, 215, 215);
      max-width: 52px;
      opacity: 1;
      margin: 10px auto;
    }
    .recent-blogs-section-wrapper {
      .recent-blogs-wrapper {
        padding: 20px 0;
        .recent-blog-wrapper {
          position: relative;
          text-align: left;
          padding: 15px;
          z-index: 4;
          margin-bottom: 20px;

          &:before,
          &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
          }
          &:before {
            background-image: -webkit-linear-gradient(
              0deg,
              #dfdfdf 0%,
              #f8f8f8 100%
            );
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            background-size: 100% 100%;
            background-repeat: no-repeat !important;
            background-position: center;
          }
          &:after {
            background-image: -webkit-linear-gradient(
              0deg,
              white 0%,
              #f8f8f8 100%
            );
            top: 1px;
            bottom: 1px;
            left: 1px;
            right: 1px;
            background-size: 100% 100%;
            background-repeat: no-repeat !important;
            background-position: center;
          }

          .img-wrapper {
            width: 100%;
            padding-top: 86%;
            background-color: gray !important;
          }
          h3 {
            color: rgb(159, 159, 159);
            font-weight: bold;
            line-height: 1.467;
            text-align: left;
            font-family: "Montserrat", sans-serif;
            font-size: 15px;
          }
          hr {
            background: rgb(215, 215, 215);
            max-width: 63px;
            height: 1px;
            margin: 10px 0;
          }
          p {
            font-size: 15px;
            line-height: 1.6;
            color: rgb(139, 139, 139);
            word-break: break-all;
            hyphens: manual;
            margin: 0;
          }
        }
      }
    }
  }
}
/* /content section */

.review-section-wrapper {
  position: relative;
  z-index: 30;
  .review-wrapper {
    background: rgb(248, 248, 248);
    text-align: center;
    margin: 115px auto 0;
    .img-wrapper {
      width: 122px;
      height: 122px;
      border-radius: 50%;
      border: 5px #fff solid;
      z-index: 2;
      padding: 0;
      margin: auto;
      margin-bottom: -30px;
      transform: translateY(-52px);
      .img-bg {
        background-position: center;
      }
    }
    .content {
      padding: 0 25px 10px;
      p {
        line-height: 2.133;
      }
    }
    .bottom-wrapper {
      background-color: rgb(255, 255, 255);
      min-height: 65px;
      padding-top: 12px;
      .author {
        font-weight: bold;
      }
      .review-rating {
        color: #ffd800;
      }
    }
  }
  .view-more-btn {
    position: absolute;
    font-size: 15px;
    color: rgb(113, 113, 113);
    line-height: 1.2;
    background: rgb(229, 229, 229);
    max-width: 252px;
    height: 48px;
    padding: 14px 0;
    text-align: center;
    left: 0;
    right: 0;
    bottom: -24px;
    z-index: 5;
    margin: auto;
    width: 100%;
    border: 0;
    outline: 0;
    transition: all 0.2s ease;
    &:hover {
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    }
    &:active {
      box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
    }
  }
}

.contact-form-section-wrapper {
  background: #f5f5f5;
  .contact-form-wrapper {
    padding: 34px 22px 22px;
    background: #fff;
    form {
      ::placeholder {
        color: #979797;
      }
      input,
      textarea {
        padding-left: 26px;
      }
    }
  }
}

.fixed-float-book-btn-wrapper {
  position: fixed;
  right: 17px;
  top: 33%;
  background: none;
  /* margin: 0 60px; */
  z-index: 500;
  background: rebeccapurple;
  text-align: center;
  width: 245px;
  background: rgba(249, 249, 249, 0.8);
  min-height: 112px;
  padding-top: 15px;
  transform: translateX(400px);
  opacity: 0;
  transition: all ease 1s;

  @include media-breakpoint-down(sm) {
    transform: translateY(-200px) translateX(400px) scale(0.75);
  }

  &.active {
    transform: translateX(0px);
    opacity: 1;
    @include media-breakpoint-down(sm) {
      transform: translateY(-200px) translateX(25px) scale(0.75);
    }
  }
}
.header-book-btn {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  // margin-right: 0;
  max-width: 232px;
  text-align: center;
  font-size: 19px;
  color: #9b9b9b;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.805;
  margin-top: 24px;
  // @include media-breakpoint-down(md) {
  //   margin-left: auto;
  //   margin-right: auto;
  //   margin-top: 60px;
  //   margin-bottom: 40px;
  // }
  &:hover {
    opacity: 0.75;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 32px;
    width: 224px;
    background: url(../images/book-btn-fancy-hr.png) no-repeat center top;
    background-size: auto;
  }
  &:before {
    top: -32px;
  }
  &:after {
    bottom: -32px;
    transform: rotate(180deg);
  }
}

.fixed-float-book-now-btn-wrapper {
  position: fixed;
  right: 17px;
  top: 33%;
  background: none;
  z-index: 500;
  text-align: center;
  transform: translateX(400px);
  opacity: 0;
  transition: all ease 1s;
  @include media-breakpoint-down(sm) {
    transform: translateX(400px) scale(0.75);
  }

  &.active {
    transform: translateX(0px);
    opacity: 1;
    @include media-breakpoint-down(sm) {
      transform: translateX(25px) scale(0.75);
    }
  }
}

.studio-section-wrapper {
  .studio-section-header {
    .header-book-btn {
      position: relative;
      display: block;
      margin-left: auto;
      margin-right: 0;
      max-width: 232px;
      text-align: center;
      font-size: 19px;
      color: #9b9b9b;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.805;
      margin-top: 24px;
      @include media-breakpoint-down(md) {
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        margin-bottom: 40px;
      }
      &:hover {
        opacity: 0.75;
      }

      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        height: 32px;
        width: 224px;
        background: url(../images/book-btn-fancy-hr.png) no-repeat center top;
        background-size: auto;
      }
      &:before {
        top: -32px;
      }
      &:after {
        bottom: -32px;
        transform: rotate(180deg);
      }
    }
  }
  .top-wrapper {
    p {
      line-height: 2.133;
      color: #8b8b8b;
    }
  }
  .studio-top-slider-wrapper {
    padding: 55px 55px;
    .studio-top-slider {
      .item {
        position: relative;
        :before,
        :after {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          transition: all ease 0.25s;
        }
        :before {
          content: "";
          background: rgba(0, 0, 0, 0.7);
          opacity: 0;
        }
        :after {
          content: "\f002";
          text-align: center;
          line-height: 50%;
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          color: #fff;
          font-size: 40px;
          height: 50px;
          line-height: 50px;
          margin: auto;
          opacity: 0;
        }

        &:hover {
          :before {
            opacity: 0.4;
          }
          :after {
            opacity: 0.4;
          }
        }
      }
      .owl-nav button.owl-next,
      .owl-nav button.owl-prev {
        position: absolute;
        top: 30%;
        border: 0;
        outline: 0;
        cursor: pointer;
        &:hover {
          background: none;
          opacity: 0.75;
        }
      }
      .owl-nav button.owl-prev {
        left: -50px;
      }
      .owl-nav button.owl-next {
        right: -50px;
      }
    }
  }
  .studio-area-info-section-wrapper {
    background: #eaeaea url(../images/area-info-bg.jpg) no-repeat center top;
    background-size: cover;
    padding: 60px 0;
    .studio-area-info-wrapper {
      position: relative;

      border: 1px solid #f3f3f3;
      background: #ffffff;
      min-height: 418px;
      .title {
        background-image: -webkit-linear-gradient(
          180deg,
          rgb(255, 255, 255) 0%,
          rgb(238, 238, 238) 100%
        );
        min-height: 112px;
        max-width: 732px;
        width: 100%;
        text-align: left;
        padding: 24px 0 9px 48px;
        margin-bottom: 30px;

        .area {
          color: #686767;
          font-weight: bold;
          line-height: 1.2;
          font-size: 66px;
          display: inline-block;
        }
        .text {
          font-size: 18px;
          color: #9f9f9f;
          line-height: 1.2;
          display: inline-block;
          strong {
            text-transform: uppercase;
          }
        }
      }
      .content {
        padding: 0 40px;
        max-width: 760px;
        // display: inline-block;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          position: relative;
          color: #686767;
          line-height: 2.133;
          padding-left: 1.5em;

          &:before {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            left: 0;
            top: 0.5em;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12'%3E%3Cpath fill-rule='evenodd' fill='%23656565' d='M3.356 5.53l1.627 3.235s2.644-6.574 6.814-8.766c-.102 1.565-.509 2.922.203 4.592-1.831.417-5.593 5.113-6.814 7.408C3.458 9.808 1.424 8.138 0 7.617L3.356 5.53z'/%3E%3C/svg%3E");
          }
        }
      }
      .studio-info-thumbs-wrapper {
        // position: absolute;
        // display: inline-block;
        // // position: relative;
        // z-index: 25;
        // top: 55px;
        // right: 210px;
        position: relative;
        display: inline-block;
        z-index: 25;
        top: -100px;
        right: 100px;
        @include media-breakpoint-down(lg) {
          top: 0px;
          left: 11%;
          /* right: 0; */
          /* margin-top: 10000px; */
          margin: auto;
          height: 360px;
        }
        @media (max-width: 382px) {
          transform: scale(0.6) translateY(-50px);
        }
        .img-wrapper {
          // position: absolute;
          position: relative;
          padding-top: 0;
          border: 1px solid #ffffff;
          // width: 155px;
          // height: 139px;
          width: 217px;
          height: 195px;
          display: inline-block;
          &:nth-child(2) {
            // top: 54px;
            top: 76px;

            left: 128px;
            position: absolute;
          }
          &:nth-child(3) {
            // top: 126px;
            top: 170px;

            left: 30px;
            position: absolute;
          }
          &:nth-child(4) {
            // top: 173px;
            top: 257px;

            left: 155px;
            position: absolute;
          }
        }
        &:before,
        &:after {
          content: "";
          position: absolute;
          width: 32px;
          height: 32px;
          margin: auto;
          background-size: contain;
          background-repeat: no-repeat !important;
          z-index: 10;
        }
        &:before {
          right: 12px;
          top: 185%;
          background-image: url("data:image/svg+xml,%3Csvg width='39.56' height='41.409' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath d='M0 31.057h29.67V0H0v31.057z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cpath fill='none' d='M-1-1h582v402H-1z'/%3E%3Cg%3E%3Cg transform='matrix(-1.33333 0 0 1.33333 39.56 0)' clip-path='url(%23a)'%3E%3Cpath fill='%23c6c6c6' d='M12.482 0l3.901 4.748s-.829 7.5-16.383 9.684c0 0 12.677-3.608 12.482-14.432m0 31.057l3.901-4.748s-.829-7.5-16.383-9.684c0 0 12.677 3.608 12.482 14.432M29.67 15.528l-6.562-3.136-15.6 3.136 15.6 3.137 6.562-3.137z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          @include media-breakpoint-down(lg) {
            top: 75%;
          }
        }

        &:after {
          right: -42px;
          top: 14px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='41.409' width='39.56'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath d='M0 31.057h29.67V0H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)' transform='matrix(1.33333 0 0 -1.33333 0 41.409)'%3E%3Cpath d='M12.482 0l3.901 4.748s-.829 7.5-16.383 9.684c0 0 12.677-3.608 12.482-14.432M12.482 31.057l3.901-4.748s-.829-7.5-16.383-9.684c0 0 12.677 3.608 12.482 14.432M29.67 15.528l-6.562-3.136-15.6 3.136 15.6 3.137z' fill='%23c6c6c6'/%3E%3C/g%3E%3C/svg%3E");
        }

        // &:after {
        // 	right: -42px;
        //
        // }
      }
    }
  }

  .studio-rates-and-time-section-wrapper {
    background: #fff;
    .studio-rates-and-time-wrapper {
      h2 {
        font-size: 30px;
        color: #717171;
        line-height: 1.2;
        text-align: left;
      }
      hr {
        background: #cacaca;
        width: 43px;
        margin: 10px 0 20px;
        opacity: 1;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          position: relative;
          color: #686767;
          line-height: 1.2;
          padding-left: 50px;
          margin: 20px 0 10px;
          &:first-child {
            padding-bottom: 30px;
            border-bottom: 1px solid rgb(226, 226, 226);
          }
          @include media-breakpoint-down(md) {
            padding-bottom: 30px;
            border-bottom: 1px solid rgb(226, 226, 226);
          }
          &:before {
            content: "";
            position: absolute;
            width: 42px;
            height: 42px;
            left: 0;
            top: 0;
          }
          &.date-time:before {
            background: url(../images/date-time-ico.png) no-repeat;
            background-position: center;
            background-size: auto;
          }
          &.people:before {
            background: url(../images/people-ico.png) no-repeat;
            background-position: center;
            background-size: auto;
          }
          strong {
            font-size: 18px;
            line-height: 1.5;
            color: rgb(148, 148, 148);
          }
        }
      }
      .hrs-rates-wrapper {
        border: 1px solid rgb(223, 223, 223);
        max-width: 460px;
        min-height: 86px;
        padding: 7px 0;
        text-align: center;
        margin: auto;
        margin-bottom: 16px;
        @include media-breakpoint-down(md) {
          margin: 30px auto 20px;
        }
        .hrs-rate-wrapper {
          color: rgb(113, 113, 113);
          display: inline-block;
          width: 49%;
          position: relative;

          @include media-breakpoint-down(lg) {
            display: block;
            width: 100%;
            &:nth-child(odd) {
              padding-bottom: 10px;
              margin-bottom: 10px;
            }
          }

          &:nth-child(odd):after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            background: rgb(233, 233, 233);
            width: 1px;
            height: 60px;
            margin: auto;
            @include media-breakpoint-down(lg) {
              top: auto;
              bottom: 0;
              left: 0;
              right: 0;
              width: 90%;
              height: 1px;
            }
          }

          .rate {
            .sign {
              font-size: 25px;
              line-height: 1.2;
            }
            .number {
              display: inline-block;
              font-size: 42px;
              color: #e2db9e;
              font-weight: bold;
              line-height: 1.2;
            }
            line-height: 1.2;
          }
          .time {
            color: rgb(148, 148, 148);
            line-height: 1.2;
          }
        }
      }
    }
    .disclaimer {
      color: rgb(171, 171, 171);
      line-height: 1.6;
      text-align: center;
      background: rgb(249, 249, 249);
      max-width: 458px;
      min-height: 84px;
      padding: 18px 5px;
      margin: auto;
    }
  }

  .what-we-offer-section-wrapper {
    background: #fff url(../images/what-we-offer-bg.jpg) no-repeat left center;
    background-size: cover;
    &.booking-what-we-offer-section-wrapper {
      background: #fff;
      background-image: none;
      min-height: auto;
      .what-we-offer-wrapper {
        background: #fff url(../images/booking-what-we-offer-bg.jpg) no-repeat
          right center;
        background-size: cover;
        .content {
          background: #f3f3f3;
          min-height: 560px;
          max-width: 403px;
          margin: auto;
          padding: 115px 20px;
          h2 {
            margin: auto;
            padding: 0;
            &:after {
              content: none;
            }
          }
          hr {
            background: rgb(202, 202, 202);
            opacity: 1;
            width: 43px;
            margin: 10px auto 20px;
          }
          ul {
            li {
              position: relative;
              color: rgb(113, 113, 113);
              line-height: 2.4;
              &:after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                background: rgb(220, 220, 220);
                width: 89px;
                height: 1px;
              }
            }
          }
        }
      }
    }
    .what-we-offer-wrapper {
      text-align: center;
      h2 {
        font-size: 30px;
        position: relative;
        margin-bottom: 62px;
        padding-bottom: 5px;

        &:after {
          content: "";
          position: absolute;
          bottom: -38px;
          left: 0;
          right: 0;
          margin: auto;
          height: 38px;
          width: 270px;
          background: url(../images/h2-fancy-hr.png) no-repeat center top;
          background-size: auto;
        }
      }
      ul {
        list-style: none;
        color: #717171;
        line-height: 2.4;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.deposit-and-cancellation-section-wrapper {
  background: #fff;
  border-top: 1px solid #e2e2e2;

  .deposit-and-cancellation-wrapper {
    h2 {
      color: #717171;
      font-size: 30px;
      text-align: left;
    }
    hr {
      background: #cacaca;
      width: 43px;
      margin: 10px 0 20px;
      opacity: 1;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: auto;
      li {
        position: relative;
        display: table;
        color: #717171;
        line-height: 1.2;
        background: #f9f9f9;
        min-height: 40px;
        padding: 12px 22px;
        margin-bottom: 8px;
        margin-left: 13px;
        &:before {
          content: "";
          position: absolute;
          left: -13px;
          top: 0;
          bottom: 0;
          width: 7px;
          background: #ebebeb;
        }
      }
    }
  }
}

.booking-ellipse-slider-wrapper {
  max-width: 415px;
  max-height: 415px;
  width: 100%;
  height: 100%;
  padding-top: 100%;
  position: relative;
  margin: auto;
  margin-left: auto;
  margin-right: 0;
  margin-top: -210px;
  // transform: translateY(-210px);
  @include media-breakpoint-down(md) {
    margin: auto;
    padding-top: 62%;
    width: 415px;
    height: 415px;
    margin-bottom: 20px;
  }
  @media (max-width: 430px) {
    margin: auto;
    padding-top: 62%;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
  }
  .booking-ellipse-slider-inner-wrapper {
    position: absolute;
    // top: -210px;
    // width: 100%;
    // height: 100%;
    max-width: 415px;
    max-height: 415px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/ellipse-slider-bg.png) no-repeat center;
    background-size: 100% auto;
    padding: 10px;

    .booking-ellipse-slider {
      // background: red;
      // overflow: hidden;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: relative;

      .slide-1 {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          // max-width: 240px;
          // max-height: 324px;
          width: 61%;
          padding-top: 82%;
          // height: 100%;
          width: 61%;
          padding-top: 82%;
          right: -15px;
          bottom: 0;
          background: url(../images/ballroom/booking/1-after.png) no-repeat
            center;
          background-size: contain;
          z-index: 5;
          // @media (max-width:430px){
          // 	width: 61%;
          // }
        }
      }

      .owl-nav button.owl-next,
      .owl-nav button.owl-prev {
        position: absolute;
        top: 42.5%;
        border: 0;
        outline: 0;
        cursor: pointer;
        &:hover {
          background: none;
          opacity: 0.75;
        }
      }
      .owl-nav button.owl-prev {
        left: 10px;
      }
      .owl-nav button.owl-next {
        right: 10px;
      }
    }
  }
}

/* /block sections */

/* fixed floats */

.fixed-cta-wrapper {
  position: fixed;
  // position: absolute;
  bottom: 0;
  z-index: 50;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  left: 0;
  @include media-breakpoint-down(lg) {
    display: none;
  }
  .current_page_item {
    display: none;
  }
  .menu-fixed-studio-menu-container ul {
    display: inline-block;
    li {
      display: inline-block;
      float: left;
      &.current-menu-item {
        display: none;
      }
      &.current-page-ancestor {
        display: none;
      }
    }
  }
  .menu-fixed-studio-menu-container li:nth-child(even) {
    .fixed-cta-btn {
      background: #3d3d3d;
    }
  }
  .fixed-cta-btn {
    display: inline-block;
    text-align: center;
    // font-size: 17.725px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 15px;
    float: left;
    background: #545454;
    height: 41px;
    line-height: 41px;

    &:hover {
      opacity: 0.75;
    }
  }
}
/* /fixed floats */

.fancy-btn-style-1,
.fancy-btn-style-2 {
  position: relative;
  display: block;
  max-width: 185px;
  text-align: center;
  color: rgb(147, 147, 147);
  &:hover,
  &:active,
  &.active {
    letter-spacing: 0.9px;
    &:before,
    &:after {
      height: 30px;
      top: -15px;
      bottom: -15px;
    }
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 25px;
    width: 15px;
    border: 1px solid rgb(198, 197, 196);
    top: 0;
    bottom: 0;
    margin: auto;
    transition: all ease 0.2s;
  }
  &:before {
    left: 0;
    border-right: 0;
  }
  &:after {
    right: 0;
    border-left: 0;
  }
}

.fancy-btn-style-2 {
  &:hover,
  &:active,
  &.active {
    color: #e2db9e;
    border-color: #e2db9e;
  }
}
