$color_1: rgb(218, 218, 218);
$color_2: #707070;
$color_3: #fff;
$color_4: #052f75;
$color_5: #224666;
$font_family_1: 'Roboto';
$background_color_1: #b69a47;
$background_color_2: #707070;
$background_color_3: #fff;

.right-panel-wrapper {
	.recent-blog-list {
		li {
			border: 0;
			margin-bottom: 10px;

			h4 {
				
				font-weight: 400;
				font-size: 12px;
				color: #707070;
			}

			p {
				font-size: 14px;
				color: #707070;
				margin: 0;
			}

			hr {
				background: #d7d7d7;
				max-width: 43px;
				margin-top: 4px;
				margin-bottom: 4px;
			}

			a:hover {
				padding: 0;
			}
		}
	}

	.right-bar-post-img-wrapper {
		border: #ededed 1px solid;

		.post-featured-img {
			padding-top: 100%;
			position: relative;
		}
	}

	padding: 16px;

	section {
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	hr {
		color: $color_1;
	}

	ul {
		padding: 0;

		li {
			list-style-type: none;
			padding-bottom: 10px;
			margin-bottom: 15px;
			border-bottom: 1px solid #dcdcdc;

			a {
				color: $color_2;
				font-size: 14px;
				transition: all ease 0.5s;

				&.none-anime:hover {
					padding-left: 0px;
				}

				&:hover {
					padding-left: 5px;
				}
			}
		}
	}

	.bar-section {
		padding: 40px 24px;
		border: 1px solid #dcdcdc;
		margin-bottom: 30px;
		h3 {
			margin-bottom: 30px;
			font-size: 24px;
			line-height: 24px;
		}
	}
}

.right-bar-gallery-wrapper {
	padding: 9px;

	.col-md-4 {
		margin-bottom: 10px;
		padding-right: 5px;
		padding-left: 5px;
	}

	.home-gallery-image-wrapper {
		padding-top: 100%;
		position: relative;
		overflow: hidden;
		border: 0;
	}
}

.left-panel-wrapper {
	.post-wrapper {
		p {
			margin-bottom: 20px;
		}
	}
	.testimonials-post-wrapper {
		text-align: center;
		border: 1px solid #ececec;
		border-bottom: 10px solid #ececec;
		p {
			margin-bottom: 10px;
		}
		.post-title {
			border: 0;
			border-bottom: 1px solid #ececec;
			padding: 10px 0 20px;
			// max-width: 90%;
			margin: auto 15px;
			.post-date-label {
				float: none;
			}
		}
	}

	.post-title {
		min-height: 36px;
		line-height: 36px;
		color: #707070;
		border: 1px solid #d7d7d7;
		border-left: 0;
		border-right: 0;
		margin-bottom: 15px;
		overflow: hidden;

		// padding-top: 6px;
		h1,
		.h1 {
			display: inline-block;
			color: inherit;
			margin: 0;
			font-weight: 400;
			margin-top: 8px;
		}

		.post-date-label {
			display: inline-block;
			float: right;
		}
	}

	.post-featured-img {
		margin-bottom: 20px;
		position: relative;
		overflow: hidden;
		background-size: cover;
		padding-top: 43%;
		margin-bottom: 20px;
		background-repeat: no-repeat;
	}
}

.img-animator-a {
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: all ease 1s;

	&:hover {
		transform: scale(1.25) rotate(10deg);
	}
}

.img-animator-a.non-anime {
	transform: none;
}

.blog-sm-sharebtns-wrapper {
	background: #f6f6f6;
	height: 60px;
	position: relative;
	margin-top: 15px;

	.blog-sm-sharebtns-text {
		color: $color_2;
		font-weight: 600;
		display: inline-block;
		line-height: 60px;
		padding-left: 30px;
	}

	.blog-sm-sharebtns-btns {
		display: inline-block;
		overflow: auto;
		text-align: right;
		right: 60%;
		top: 41px;
		z-index: 100;
		min-height: 50px;
		min-width: 300px;
		vertical-align: middle;
		float: right;
		margin-top: 5px;
		margin-right: 10px;
	}

	.sfsi_plus_wicons.shuffeldiv {
		display: inline-block;
	}

	.sfsiplus_norm_row.sfsi_plus_wDiv {
		text-align: right !important;
	}
}

.related-articles {
	.owl-nav {
		text-align: right;
		text-align: right;

		span {
			line-height: 30px;
		}

		button {
			width: 30px;
			height: 30px;
			background-color: $background_color_1 !important;
			font-size: 30px !important;
			margin: 2px;
			outline: none;
			color: $color_3 !important;

			&:nth-child(2) {
				margin-right: 5px;
			}
		}
	}
}

.related-article-wrapper {
	background: #fff;
	margin: 5px;
	padding: 10px;

	.related-article-thumbnail {
		padding-top: 65%;
		margin-bottom: 20px;
		position: relative;
		overflow: hidden;
	}

	h2 {
		font-size: 16px;
		line-height: 16px;
		color: $color_4;
		font-family: $font_family_1;
		font-weight: 400;
		min-height: 32px;
	}

	p {
		font-size: 16px;
		line-height: 22px;
		color: $color_2;
	}

	hr {
		color: $color_1;
		width: 30%;
	}

	a.read-more {
		color: $color_4;
	}
}

.navigation-paging {
	margin-bottom: 45px;

	ul {
		li {
			a {
				color: $color_3 !important;
				text-decoration: none;
				background-color: $background_color_2;
				border-radius: 3px;
				cursor: pointer;
				padding: 12px;
				padding: 0.75rem;
				border: 1px solid #fff;

				&:hover {
					color: $color_3 !important;
					text-decoration: none;
					background-color: $background_color_2;
					border-radius: 3px;
					cursor: pointer;
					padding: 12px;
					padding: 0.75rem;
					border: 1px solid #fff;
					background-color: $background_color_3;
					color: $color_5 !important;
					border: 1px solid #224666;
				}
			}

			display: inline;
		}

		li.active {
			a {
				color: $color_3 !important;
				text-decoration: none;
				background-color: $background_color_2;
				border-radius: 3px;
				cursor: pointer;
				padding: 12px;
				padding: 0.75rem;
				border: 1px solid #fff;
				background-color: $background_color_3;
				color: $color_5 !important;
				border: 1px solid #224666;
			}
		}

		li.disabled {
			color: $color_3 !important;
			text-decoration: none;
			background-color: $background_color_2;
			border-radius: 3px;
			cursor: pointer;
			padding: 12px;
			padding: 0.75rem;
			border: 1px solid #fff;
		}

		padding-left: 15px;
	}
}
