.bg-929497 {
  background: #929497;
}
.bg-F6F5F6 {
  background: #f6f5f6;
}

.calendar-app-wrapper {
  padding: 0 10px;
  .day-wrapper-title-wrapper {
    display: flex;
    align-items: flex-start;
    // flex-wrap: nowrap;
    flex-wrap: wrap;
    height: 100%;
    border-top: #96999b solid 1px;
    padding: 0 10px;
    .day-wrapper-title {
      margin: 5px;
      width: calc(100% / 7 - 10px);
      //   text-align: center;
      //   font-weight: bold;
      font-size: 14px;
      padding-left: 10px;
      padding-top: 5px;
      background: #f6f6f6;
    }
  }
  .month-calendar-wrapper {
    display: flex;
    align-items: flex-start;
    // flex-wrap: nowrap;
    flex-wrap: wrap;
      align-items: stretch;

    
    height: 100%;
    padding: 0 10px;

    .day-wrapper {
      &.not-this-month {
        background: #ccc;
      }
      &.active {
        border-color: #e67e22 ;
        background: rgba(230, 126, 34, 0.25);
      }

      //   margin: 5px;
      width: calc(100% / 7);
      border: rgba(150, 153, 155, 0.2) solid 0.1px;
      min-height: 100px;
      background: #fff;
      .inner-wrapper {
        .date-wrapper {
          font-size: 18px;
          font-weight: bold;
          padding: 5px 10px;
        }
        .events-wrapper {
          .event-wrapper {
            font-size: 12px;
            margin: 2px ;
            padding: 4px ;
            border-radius: 4px;
            margin-bottom: 5px ;
          }
        }
      }
    }
  }
}
